.dot {
	position: fixed;
	width: 6px;
	height: 6px;
	mix-blend-mode: multiply;
	background-color: #000;
	border-radius: 100%;
	transform: translate(-50%, -50%);
	z-index: 999;
	pointer-events: none;
}
